---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "關於我";

const identity = {
  firstName: "",
  country: "臺灣",
  occupation: "高中生",
  hobbies: ["看小說", "聽音樂", "學習語言"],
};

const skills = ["C++", "Python", "鋼琴", "HTML", "日語 N5"];
const todo = ["JavaScript", "Astro", "React"];
const game = ["Phigros","桃源深處有人家","Rhythm Hive"];
const movie = [];
const novel = ["天涯雙探","哈利波特","渣反","判官"];

const happy = true;
const finished = false;
const name = 0;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <img />
  <Navigation />
  <h1>{pageTitle}</h1>
  <h2>一個正常人</h2>

  <p>Leetcode 題數 [24]</p>
  <p>114/10/23</p>
  <img class="fit-picture" src="/src/images/leetcode/1141023.png" />

  <p>自界</p>
  <ul>
    <li>{identity.occupation}</li>
    <li>MBTI：INTJ</li>
    <li>雖然說是T人，但個人覺得自己很有同情心</li>
    {
      identity.hobbies.length >= 3 && (
        <li>
          興趣： {identity.hobbies[0]}、{identity.hobbies[1]}、
          {identity.hobbies[2]}
        </li>
      )
    }
    <li>淡坑生米：大概是 2022 年的</li>
    <li>正在學 C++，但還是很弱的程度。</li>
  </ul>
  <p>遊戲</p>
  <ul>
    {game.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <p>技能</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <p>待辦</p>
  <ul>
    {todo.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>祝你有美好的一天</p>}

  {finished && <p>I finished this tutorial!</p>}

  {name === 1 ? <p>我取出暱稱了</p> : <p>我還沒取出暱稱，誠徵暱稱</p>}
  <Footer />

</html>
